/* I am not sure what below is. */
/* @@ -0,0 +1,192 @@ */
* {
    box-sizing: border-box;
  }

  .checkout-panel {
    border: silver solid 1px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;

    display: flex;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
  }

  @media (min-width: 800px) {
    .checkout-panel {
        max-width: 60%;
    }
    }

  .checkout-panel h1 {
    width: 100%;
    line-height: normal;
  }

  .panel-body {
    padding: 5%;
  }

  legend {
    padding: 0;
    /* display: table; */
    margin-bottom: .4em;
  }

  fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
  }
  body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
  }

  .payment-method {
    /* margin-bottom: 1em; */
  }

  .method {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    cursor: pointer;
    background-color: gainsboro;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    padding: .5em;
  }

  .card-logos {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
  }

  .radio-input {
    margin-top: 20px;
  }

  input[type='radio'] {
    display: inline-block;
  }

  .input-fields {
  }

  .input-fields label {
    display: block;
    margin-bottom: 10px;
    color: black;

  }

  .info {
    display: block;
    font-size: .9em;
    line-height: 1em;
    margin-top: 1em;
    color: silver;
  }

  .info-center {
    display: block;
    line-height: 1em;
    margin-bottom: 1em;
    text-align: center;
  }

  div[class*='column'] {
    /* width: 382px; */
  }

  input[type='text'],
  input[type='password'] {
    /* font-size: 16px; */
    width: 100%;
    height: 50px;
    padding-right: 40px;
    padding-left: 16px;
    color: black;

    border: 1px solid silver;

    border-radius: 4px;
    outline: none;
  }

  input[type='text']:focus,
  input[type='password']:focus {
    border-color: black;

  }
  
  .small-inputs {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
  }

  .small-inputs div {
    width: 45%;
    /* margin-right:60px; */
  }

  .panel-footer {   
    width: 100%;
    min-height: 96px;
  }
  .panel-footer-one {
    display: block;
    width: 100%;
    min-height: 96px;
    background-color: gainsburo;
    margin-left: auto;
    margin-right: auto;  
    align-items: center;
  }
  
  @media (min-width: 800px) {
    .panel-footer {
      display: flex;
      height: 96px;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
      align-items: center;
    }
    .panel-footer-one {
      height: 96px;
      width: 35%;
    }
    }

  #shopping-cart-icon {
    /* border: 1px solid orange; */
    display: block;
    width: 50%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
  }

  .totals-group {
    display: block;
    width: 80%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @media (min-width: 800px) {
    .totals-group {
      width: 30%;
      margin-right: 0;
      text-align: left;
    }
    }

  /* .btn {
    background-color: #7f2226;
    color: #fff;
    font-size: .9em;
    line-height: 1em;
    width: 100%;
    height: 3em;
    cursor: pointer;
    letter-spacing: 1px;
    border: none;
    border-radius: 23px;
    margin: 10px;
    text-align: center;
  } */

  .blue-border {
    border: 1px solid rgb(110, 178, 251);
  }

  .warning {
    border-color: #7f2226;
  } 
  
  
  .cartItems{
  /* margin-left: 30px;
  width: 200px;
  float:left;
   min-height: 323.183px; */
  
  }

section {
    background-color: white;
    min-height: 200px;
    margin: 1em;
    padding: 1em;
    z-index: 1;
}

section img {
    border: 1px solid black;
    float: left;
    width: 150px;
    height: auto;
    margin-right: 1em;
}

section p {
    width: 80%;
}

.order-item {
  background-color: #f1f1f1;
  margin-bottom: 1em;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.order-item-image img {
  width: 100%;
  height: auto;
}

.order-item-text {
  flex: 1;
  margin-top: 0;
  padding-left: 10px;
}

.order-item-text ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  flex-wrap: wrap;
}

.order-item-text ul li {
  font-size: .9em;
}

.order-item-text h1, .order-item-text p  {
  width: 100%;
}

@media (min-width: 500px) {
  .order-item {
    background-color: white;
    align-items: flex-start;
    flex-direction: row;
  }  

  .order-item-image {
    border-right: 2px solid #C1746E;
    border-bottom: 0px;
    padding-right: 10px;
    width: 30%;
  }

  .order-item-image img {
    max-width: 200px;
  }

  .order-item ul {
    flex-direction: row;
  }

  .order-item-text ul li {
    max-width: 30%;
  }

  .two-column-text h1, .two-column-text p  {
  }
}
#paypal-button-container{
	width: 50%;
    margin:0 auto;
}