/* Colors {
  Primary Brand Colors
  color: #7f2226;
  color: #C1746E;

  Secondary Brand Colors
  color: #969026;
  color: #269690;

  Black and Grays
  color: black;
  color: #2a2a2a;
  color: silver;
  color: gainsboro;
  color: #f1f1f1;

  Shoe Colors
  color: #2a2a2a;
  color: sienna;
  color: #b0b0b0;
} */

main {
  margin-top: 5em;
}

#hero-space {
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://raw.githubusercontent.com/hmcka/StellarShoes/master/present.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 600px;
     position: relative;
 }

 #hero-space h1 {
   color: white;
   line-height: normal;
   padding-top: 4em;
   text-align: center;
   width: 75%;
 }

 @media (min-width: 850px) {
  #hero-space h1 {
    width: 30%;
  }
 }

 #testimonials h1 {
  background-color: silver;    
  font-size: 3em;
   font-weight: 400;
   min-height: 200px;
   padding-top: 4em;
   text-align: center; 
   margin-top: 2em;
}

#boots{
  background-image: url(https://raw.githubusercontent.com/hmcka/StellarShoes/master/chukka.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 600px; */
  position: relative;
}

#boots a:hover,#boots:active {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://raw.githubusercontent.com/hmcka/StellarShoes/master/present.jpg); */
  }

#oxfords{
  background-image: url(https://raw.githubusercontent.com/hmcka/StellarShoes/master/oxford.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 600px; */
  position: relative;
}

#loafers{
  background-image: url(https://raw.githubusercontent.com/hmcka/StellarShoes/master/z-loafer-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 600px; */
  position: relative;
}


#category-container {
	/* padding:20px; */
	/* position:absolute; */
  /* background:#fff; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 5em;
	/* overflow:hidden; */
}

@media (min-width: 850px) {
  #category-container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
 }

article {
  flex-grow: 1;
  width: 90%;
  height: 400px;
  margin: 1em;
  -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
  box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}

@media (min-width: 850px) {
  article {
    width: 30%;
  }
 }

article h3 {
	text-transform:uppercase;
	font-size: 3em;
  color:white;
  margin-top: 3em;
	text-align:center;
	text-shadow: 0px 1px 1px #2a2a2a;
}
article h4{
  color: white;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
	font-size: 2em;
	text-align:center;
	/* line-height:24px; */
	position:relative;
}

.discover{
	position: absolute;
	bottom: 20px;
	right:0px;
  padding: 4px 15px;
  font-size: 1.25em;
	font-weight: 600;
	background: white;
	text-align: center;
	color: black;
  /* text-shadow:1px 1px 1px #897c63; */
  text-transform: uppercase;
}

#why {
  background-color: #7f2226;
  margin-bottom: 3em;
  margin-top: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
}

#why h2 {
  color: white;
  margin-top: 1em;
  text-align: center;
}

#why p {
  color: white;
  font-size: 1.5em;
  font-weight: 400;em;
  line-height: 1.15;
  text-align: center;
  width: 50%;
}

@media (min-width: 850px) {
  #why p {
    width: 40%;
  }
 }

 footer {
   margin-top: 0;
 }

#subscribe {
  margin-top: 5em;
  margin-bottom: 5em;
  
  /* grid-template-columns: 60px 60px;
  grid-template-rows: 90px 90px; */
  width: 100%;
}

@media (min-width: 850px) {
  #subscribe {
    /* width: 40%; */
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
 }
    
#subscribe h2 {
  line-height: 1em;
  margin-top: 0;
  padding-left: 3em;
  padding-right: 3em;
  /* padding-top: 1em; */
  text-align: center;
}  

#subscribe p {
  text-align: center;
}

 @media (min-width: 850px) {

 }




 }