/* Colors {
  Primary Brand Colors
  color: #7f2226;
  color: #C1746E;

  Secondary Brand Colors
  color: #969026;
  color: #269690;

  Black and Grays
  color: black;
  color: #2a2a2a;
  color: silver;
  color: gainsboro;
  color: #f1f1f1;

  Shoe Colors
  color: #2a2a2a;
  color: sienna;
  color: #b0b0b0;
} */

main {
  margin-top: 5em;
}

#hero-space {
     background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.5)), url(https://raw.githubusercontent.com/malhariri92/StellarShoes/master/StellarShoes/WebContent/resources/images/present.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 600px;
     position: relative;
 }

 #hero-space h1 {
   color: white;
   font-family: "Georgia","Times New Roman",serif;
   font-size: 3.5em;
   font-weight: 200;
   line-height: normal;
   padding-top: 1.5em;
   text-align: center;
   width: 75%;
 }

 @media (min-width: 850px) {
  #hero-space h1 {
    padding-top: 3.75em;
    width: 40%;
  }
 }

 #testimonials {
  min-height: 200px;
  /* padding-top: 4em; */
  text-align: center; 
  margin-top: 2em;
  width: 100%;
  
}

#testimonials article{
  border-bottom: 0px solid #C1746E;
}

#testimonials button {
  background-color: white;
  margin: 0;
  padding: 0;
  border: 0;
  color: silver;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

#pause {
  visibility: hidden;
}

#testimonials .fa {
  color: silver;
  padding-left: .5em;
  padding-right: .5em;
}

#testimonials h2 {
  color: #7f2226;
  font-size: 2.5em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* text-align: center; */
}

#testimonials p {
  font-size: 1.05em;
  line-height: 1.25em;
}

.person {
  font-size: .5em;
  text-transform: uppercase;
  padding-bottom: 1em;
  border-bottom: thin solid #C1746E;
  width: 55%;
}

@media (min-width: 550px) {
  .person {
    font-size: .8em;
    width: 35%;
  }
}

.slide-container {
  position: relative;
  /* height: 300px; */
  /* padding: 0px; */
  /* margin: 0px; */
  list-style-type: none;
  margin-bottom: 22em;
  margin-left: auto;
  margin-right: auto; 
  width: 50%;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* z-index: 1; */

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.slide-showing {
  opacity: 1;
  /* z-index: 2; */
}

.controls {
  position: relative;
}

@media (min-width: 550px) {
  .slide-container {
    margin-bottom: 18em;
  }
}

@media (min-width: 850px) {
  .slide-container {
    margin-bottom: 13em;
  }
 }

#boots{
  background-image: url(https://raw.githubusercontent.com/malhariri92/StellarShoes/master/StellarShoes/WebContent/resources/images/chukka.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 600px; */
  position: relative;
}

#boots a:hover,#boots:active {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(); */
  }

#oxfords{
  background-image: url(https://raw.githubusercontent.com/malhariri92/StellarShoes/master/StellarShoes/WebContent/resources/images/oxford.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 600px; */
  position: relative;
}

#loafers{
  background-image: url(https://raw.githubusercontent.com/malhariri92/StellarShoes/master/StellarShoes/WebContent/resources/images/z-loafer-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 600px; */
  position: relative;
}

#category-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

@media (min-width: 850px) {
  #category-container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
 }

#category-container article {
  flex-grow: 1;
  width: 90%;
  height: 400px;
  margin: 1em;
  -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
  box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}

@media (min-width: 850px) {
  #category-container article {
    width: 30%;
  }
 }

#category-container h3 {
	text-transform:uppercase;
	font-size: 3em;
  color:white;
  margin-top: 3em;
	text-align:center;
	text-shadow: 0px 1px 1px #2a2a2a;
}
#category-container h4{
  color: white;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
	font-size: 2em;
	text-align:center;
	/* line-height:24px; */
	position:relative;
}

.discover{
	position: absolute;
	bottom: 20px;
	right:0px;
  padding: 4px 15px;
  font-size: 1.25em;
	font-weight: 600;
	background: white;
	text-align: center;
	color: black;
  /* text-shadow:1px 1px 1px #897c63; */
  text-transform: uppercase;
}

#why {
  background-color: #7f2226;
  margin-bottom: 3em;
  margin-top: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
}

#why h2 {
  color: white;
  font-size: 2.5em;
  margin-top: .5em;
  text-align: center;
}

#why p {
  color: white;
  font-size: 1.65em;
  font-weight: 400;
  line-height: 1.35em;
  text-align: center;
  width: 50%;
}

@media (min-width: 850px) {
  #why p {
    width: 40%;
  }
 }

  #quote-block {
    margin-top: 5em;
    margin-bottom: 5em;
    width: 100%;
  }
  .quote-item-1 {
    background-image: url(https://raw.githubusercontent.com/malhariri92/StellarShoes/master/StellarShoes/WebContent/resources/images/two-guys.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    position: relative;
  }

  .quote-item-2 {
    background-color: #269690;
    flex-grow: 1;
    flex-basis: 25%;
    height: 100%;
    align-self: flex-start;
    padding-left: 15px;
    padding-right: 15px;
  }

  .quote-item-2 p {
    line-height: 1.5em;
    font-size: 1.75em;
  }

  .quote-item-3 {
    flex-grow: 2;
    flex-basis: 50%;
    align-self: flex-start;
    background-image: url(https://raw.githubusercontent.com/malhariri92/StellarShoes/master/StellarShoes/WebContent/resources/images/clean-shoe-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    position: relative;
  }

  .quote-item-2 p {
    color: white;
  }
   
   .mark {
     font-size: 100%;
    text-align: left;
    width: 100%;
  } 
  
  .us {
    font-size: 100%;
    text-align: right;
    margin-right: 0;
    margin-bottom: 15px;
  }
  
  .peep {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 100%;
    font-weight: 600;
    padding-right: 10px;
  }

  @media (min-width: 950px){
    .mark {
      font-size: 175%;
      
    }

    .us {
      font-size: 175%;
      padding-top: 1em;
    }

    .peep {
      font-size: 150%;
    }
  }

  @media (min-width: 1150px){
    .us {
      font-size: 175%;
      padding-top: 1.25em;
    }
  }


@media (min-width: 725px) {
  #quote-block {
    /* width: 40%; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .quote-item-1 {
    flex-grow: 1;
    flex-basis: 25%;
    align-self: flex-start;
    background-position: center;
    min-height: 400px;
  }

  .quote-item-2 {
    flex-grow: 1;
    flex-basis: 25%;
    height: 100%;
    min-height: 400px;
    min-width: 182px;
    align-self: flex-start;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
  }

  .quote-item-2 p {
    line-height: 1.5em;
    font-size: 1.75em;
  }

  .quote-item-3 {
    flex-grow: 2;
    flex-basis: 50%;
    align-self: flex-start;
    min-height: 400px;
  }
 }

 

 footer {
  margin-top: 0;
}