body {
    background-color: #f1f1f1;
    font-family: 'Barlow', sans-serif;
}

h1 {
    color: black;
    font-size: 3em;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5em;
    /* width: 80%; */
  }

h2 {
    font-size: 2em;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 2em; */
    /* width: 80%; */
}

h2 a:hover, h2 a:active {
    background-color: white;
}

.to-PayPal {
    border-bottom: 3px solid #C1746E;
}

h3 {
    margin-bottom: 0;
}

#order-two-column-container {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    /* margin-right: auto; */
    display: flex;
  } 

#order-two-column-container h2 {
    background-color: white;
    border-top-right-radius: 25px;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 0;
    
    margin-top: 0;
    margin-right: 5px;
    max-width: 50%;
    padding: 1em;
    text-align: center;
}

@media (min-width: 425px) {
    #order-two-column-container h2 {
        font-size: 2em;
        margin-left: 0; 
        /* margin-right: auto; */
        max-width: 25%;
      }
  }

#user-name {
    background-color: black;
    color: white;    
    /* display: flex; */
    /* flex-wrap: nowrap; */
    height: 50px;
    /* justify-content: space-between; */
    -webkit-box-shadow: 10px 2px 10px -1px rgba(161,161,161,0.41);
    -moz-box-shadow: 10px 2px 10px -1px rgba(161,161,161,0.41);
    box-shadow: 10px 2px 10px -1px rgba(161,161,161,0.41);
    /* padding: 2%; */
    padding-left: 20px;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

#user-name p {
    color: white;
    font-size: 1em;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    position: fixed;
    margin-top: 0;
    z-index: 2;
} 

@media (min-width: 600px) {
    #user-name p {
        font-size: 2em; 
    }
}

#top-icons {
    /* background-color: black; */
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    right: 0;
    position: fixed;
    text-align: center;
    z-index: 4;
}

#top-icons a:hover {
    background-color: black;
}



.fa {
    color: white;
    display: inline-block;
    padding-right: .5em;
    text-align: center;
}

.fa-home, .fa-archive, .fa-truck, .fa-user-circle-o, .fa-money, .fa-trash, .fa-save {
    padding-bottom: 5px;
    padding-left: .5em;
    padding-right: .5em;

}

.ui-panel .ui-panel-titlebar {
     /* background-color : #7f2226;  */
     /* color: white;  */
}

/* The slide navigation menu */
.nav-bar {
    align-items: center;
    background-color: #7f2226;
    color: white;
    display: flex; 
    flex-wrap: nowrap;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
    /* padding: .5em; */
    text-transform: uppercase;
    width: 80%;
    z-index: 1;   
}

.nav-bar i {
    font-size: 25px;
}

.nav-bar a {
    padding-top: 40px;
}

.nav-bar img {
    padding-top: 2px;
    width: 50px;
}

.nav-bar p {
    font-size: .9em;
    visibility: visible;
}

.nav-item {
    display: inline-block;
    flex-grow: 1;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: .5em;
    /* padding-left: 2em; */
    /* padding-right: 2em; */
    text-align: center;
    /* width: 16.5%; */
}

@media (min-width: 600px) {
    .nav-bar {
        height: 100px;   
    }
    
    .nav-bar i {
        font-size: 50px;
    }
    
    /* .nav-bar p {
        font-size: .9em;
        visibility: visible;
    } */
    
    .nav-bar a {
        padding-top: 40px;
    }
    
    .nav-bar img {
        padding-top: 5px;
        /* padding-bottom: 8px; */
        width: 100px;
    }
    
    .nav-item {
        height: 100px;
        padding: 1em;
    }
}

@media (min-width: 850px) {
    .nav-bar {
        height: 130px;   
    }
    
    .nav-bar i {
        font-size: 75px;
    }
    
    /* .nav-bar p {
        font-size: .9em;
        visibility: visible;
    } */
    
    .nav-bar a {
        padding-top: 45px;
    }
    
    .nav-bar img {
        padding-top: 5px;
        padding-bottom: 8px;
        width: 150px;
    }
    
    .nav-item {
        height: 130px;
        padding: 1em;
    }
}

@media (min-width: 1050px) {
    .nav-item {
        padding: 1em;
        padding-left: 2em;
        padding-right: 2em;
    }
}

.nav-item not-img {
    /* width: 25%; */
}

/* .nav-item img {
    width: 75px;
    height: auto;
} */

/* The navigation menu links */

.nav-bar a {
    text-decoration: none;
    color: white;
}

/* Mouseover changes nav links */
.nav-bar a:hover, .slideNav a:active {
    color: white; 
}

a:hover, a:active {
    background-color: #C1746E;
}

.page-ni {
    background-color: #C1746E;
}

main {
    background-color: #C1746E;
    /* margin-top: 150px; */
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 80%;
    z-index: 1;

}

section {
    background-color: white;
    min-height: 200px;
    margin: 1em;
    margin-top: 0;
    padding: 1em;
    z-index: 1;
}

section img {
    background-color: white;
    border: 1px solid silver;
    width: 150px;
    height: auto;
    padding-left: 5px;
    margin-right: 10px;
}

section p {
    /* width: 80%; */
}

.search-section {
    background: white;
    color: black;
    
    min-height: 30px;
    
}

.search-section .fa {
    color: black;
}

/* Stretch goal = This button needs to be brought into the other buttons. */


#save .fa {
    color: #fff;
}

/* ui-growl doesn't appear to be used at all on adminHome */
.ui-growl {
top: 200px !important;
right: 600px !important;
/* background-color:#C1746E; */
}

.order-item {
    /* background-color: #f1f1f1; */
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-bottom: 1em;
    /* margin-top: 2em; */
    /* padding: 5px; */
    
    
    /* background-color: white; */
  }
  
  .order-item-image img {
    /* padding-right: 15px; */
    /* width: 30%; */
  }
  
  .order-item-text {
    flex: 1;
    margin-top: 0;
    padding-left: 10px;
  }













    
