/* Colors {
  Primary Brand Colors
  color: #7f2226;
  color: #C1746E;

  Secondary Brand Colors
  color: #969026;
  color: #269690;

  Black and Grays
  color: black;
  color: #2a2a2a;
  color: silver;
  color: gainsboro;
  color: #f1f1f1;

  Shoe Colors
  color: #2a2a2a;
  color: sienna;
  color: #b0b0b0;
} */



h3 {
  color: #7f2226;
  font-size: 1.25em;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  /* width: 80%; */
}

h4 {
  color: #7f2226;
  font-size: 1.15em;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
  margin-top: 0;
  /* width: 80%; */
}

p {
  color: black;
  font-size: 1em;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.narrow-p {
  color: black;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.5em;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}


a {
  text-decoration: none;
  color: black; 
}

*:before,
*:after {
    box-sizing: border-box;
}

  .sorting-section {
    /* background-color: silver; */
    padding-bottom: 3em;
    padding-top: 3em;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 2em; */

    width: 80%;
  } 

  .sorting-section p {
    margin-top: 4em;
    margin-bottom: 4em;
    padding: .5em;
  }

  .checkbox-group {
    border: #2a2a2a solid 1px;
    display: inline-block;
  }

  .checkbox:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.checkbox-input,
.checkbox-label {
    display: inline-block;
    /*below added for accessibility*/
    user-select: none;
}

@media (min-width: 850px) {
  .sorting-section p {
    margin-top: 8em;
  }
}

.grid-container {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}  

.grid-container:after {
  content: '';
  display: inline-block;
  width: 100%;
}
  
.grid-item {
  /* border-style: solid; */
  /* display: block; */
  display: inline-block;

  margin-bottom: 3em; 
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}  

.grid-item img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}  

.grid-item p {
  line-height: 1em;
  text-align: center;
}

.mix {
  /* display: inline-block; */
  /* vertical-align: top; */
}

.mix:before {
  content: '';
  /* display: inline-block; */
}

.mix.black {
  /* color: #2a2a2a; */
}

.mix.brown {
  /* color: sienna; */
}

.mix.grey {
  /* color: #b0b0b0; */
}

.shoe-price {
  background-color: #7f2226;
  border-radius: 25px;
  color: white;
  padding: 10px;
  width: 40%;
}

article{
  border-bottom: 1px solid #C1746E;
  margin-bottom: 3em;
}

/* Article h3 is a duplicate of h3. Stretch goal = remove this CSS */
article h3 {
  /* border: 3px solid black; */
  color: #7f2226;
  font-size: 1.25em;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  /* width: 80%; */
}


@media (min-width: 850px) {
  .two-column-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    display: flex;
  }  
  
  .two-column-image {
    margin-top: 4%;
    width: 50%;
    object-fit: cover;
    align-self: flex-start;
  }
  
  .two-column-text {
    flex: 1 1 auto;
    padding-left: 5%;
    padding-right: 5%;
}

  .two-column-text h1, .two-column-text p  {
    line-height: 1em;
    width: 100%;
  }
}

.paypal {
  /* border: 5px solid orange; */
  display: inline;
}

@media (min-width: 800px) {
  .btn {
     font-size: 1em;
  }
  }

.back-btn {
  color: #7f2226;
  background: #fff;
}

.next-btn {
  color: #fff;
  background: #7f2226;
}

.btn:focus {
  outline: none;
}

.btn:hover {
}

  
  #loginform {
  /* max-width: 450px;
    margin: 0 auto; */
  }
 #password{
  /* margin-left: 29px;
  width: 300px; */
  }
 #email {
  /* margin-left: 53px; */
  width: 300px;
  }
  
 #registerForm {
  /* max-width: 700px;
    margin: 0 auto; */
  }
  
.ui-growl {
    top: 200px !important;
    right: 600px !important;
  }
  .createInput{
   margin-left: 200px;
  width: 300px;
  }
  .error{
  color:red; 
  
  }
  #logoutform {
  /* max-width: 450px; */
    /* margin: 0 auto; */
  }
   #forms-heading{
 
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  }
  #login-table tr, td { 
  width: auto !important;
  }

